.nazev {
    font-size: 300%;
    text-align: center;

}
body {
    background-color: black;
    color: #e8e6e3;
    height: 100vh;
    font-family: "Zalando Sans Expanded", sans-serif
}
.podnazev {
    font-size: 100%;
    text-align: center;
}
.zapisovaci-formular {
    text-align: center;
    font-size: 150%;
}

    /* css grid designer - cssgridgenerator.io */
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header header"
        "form form . table table"
        "form form . table table"
        "form form . table table"
        "form form . table table";
    gap: 8px;
    height: 100vh;
}


.form-container {
    grid-area: form;
}

.table-container {
    grid-area: table;
}

/*styly pro main page*/
.moznosti-container { /*child*/
    text-align: center;
    font-size: 365%;
    margin-top: 20px;
    color: white;
    padding: 3vh;;
    
}
.kontejner-vyberu { /*parent*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 20px;
}
.a{
    color: #3391ff;
    text-decoration: none;
}
