name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger deploy webhook
        run: |
          curl -f -X POST ${{ secrets.DEPLOY_WEBHOOK_URL_LOG }}
